In [1]:
import pandas as pd

In [3]:
pd.__version__

'0.24.2'

In [4]:
df = pd.read_csv("./Downloads/EcoCyc_reactions_of_Fatty_Acid_and_Lipid_Biosynthesis.txt", sep="\t")

In [5]:
df.head()

           New column                               Reactions of pathway
0          LPSSYN-PWY  RXN-19737 // RXN0-5127 // RXN0-5126 // RXN0-51...
1  KDO-NAGLIPASYN-PWY  RXN-16804 // DARAB5PISOM-RXN // KDO-8PSYNTH-RX...
2      NAGLIPASYN-PWY  UDPNACETYLGLUCOSAMACYLTRANS-RXN // UDPACYLGLCN...
3    LIPA-CORESYN-PWY  RXN-19737 // RXN0-5127 // RXN0-5126 // RXN0-51...
4           PWY0-1264  RXN0-5055 // BIOTIN-CARBOXYL-RXN // RXN-7101 /...

In [7]:
df["Reactions of pathway"]

0     RXN-19737 // RXN0-5127 // RXN0-5126 // RXN0-51...
1     RXN-16804 // DARAB5PISOM-RXN // KDO-8PSYNTH-RX...
2     UDPNACETYLGLUCOSAMACYLTRANS-RXN // UDPACYLGLCN...
3     RXN-19737 // RXN0-5127 // RXN0-5126 // RXN0-51...
4     RXN0-5055 // BIOTIN-CARBOXYL-RXN // RXN-7101 /...
5          MYRISTOYLACYLTRAN-RXN // LAUROYLACYLTRAN-RXN
6     RXN0-7012 // RXN-10462 // 1-ACYLGLYCEROL-3-P-A...
7             PHOSPHASERDECARB-RXN // PHOSPHASERSYN-RXN
8     GLYC3PDEHYDROGBIOSYN-RXN // RXN-1381 // RXN-16...
9     RXN-10462 // CDPDIGLYSYN-RXN // 1-ACYLGLYCEROL...
10    PHOSPHAGLYPSYN-RXN // CARDIOLIPSYN-RXN // PGPP...
11    RXN0-7012 // PGPPHOSPHA-RXN // PHOSPHAGLYPSYN-RXN
12    MALONYL-ACPDECARBOX-RXN // RXN0-5055 // 2.3.1....
13    ENOYL-ACP-REDUCT-NADPH-RXN // 3-OXOACYL-ACP-SY...
14    ENOYL-ACP-REDUCT-NADPH-RXN // 3-OXOACYL-ACP-SY...
15    RXN0-5055 // 2.3.1.180-RXN // MALONYL-COA-ACP-...
16    ACP-S-ACETYLTRANSFER-RXN // 3-OXOACYL-ACP-SYNT...
17    MALONYL-ACPDECARBOX-RXN // 3-OXOACYL-ACP-SYNTH...
18    RXN-9558 // RXN-9557 // RXN-9556 // 2.3.1.179-...
19    RXN-9558 // RXN-9557 // RXN-9556 // 2.3.1.179-...
20    RXN-9550 // RXN-10654 // RXN-10655 // RXN-1065...
21    RXN-9655 // 5.3.3.14-RXN // RXN0-2141 // RXN0-...
22    RXN-9663 // 4.2.1.61-RXN // RXN-9540 // RXN-95...
23                                         2.1.1.79-RXN
Name: Reactions of pathway, dtype: object

In [14]:
rxn_ids = []

In [15]:
for row in df["Reactions of pathway"]:
    rxnlist = row.split(" // ")
    rxn_ids = rxn_ids + rxnlist
    #rxn_ids.append(rxnlist)

In [26]:
len(set(rxn_ids))

101

In [21]:
rhea = pd.read_csv("ftp://ftp.expasy.org/databases/rhea/tsv/rhea2ecocyc.tsv", sep="\t")

In [29]:
len(rhea[rhea["ID"].isin(rxn_ids)]["ID"].unique())

51

In [34]:
rhea[rhea["ID"].isin(rxn_ids)].head()

     RHEA_ID DIRECTION  MASTER_ID                        ID
56     11094        RL      11092  GLYC3PDEHYDROGBIOSYN-RXN
57     11098        RL      11096  GLYC3PDEHYDROGBIOSYN-RXN
77     11501        LR      11500        KDO-8PPHOSPHAT-RXN
89     11757        LR      11756             BIOTINLIG-RXN
100    11989        LR      11988              2.1.1.79-RXN

In [32]:
rhea2kegg = pd.read_csv("ftp://ftp.expasy.org/databases/rhea/tsv/rhea2kegg_reaction.tsv", sep="\t")

In [36]:
rhea2kegg[rhea2kegg["RHEA_ID"].isin(rhea[rhea["ID"].isin(rxn_ids)]["RHEA_ID"])]

      RHEA_ID DIRECTION  MASTER_ID      ID
599     12596        BI      12593  R01801
1608    16916        BI      16913  R01800
3029    23107        BI      23104  R01530
3139    23571        BI      23568  R07639
5215    41791        BI      41788  R01624
5216    41795        BI      41792  R01626

In [42]:
rhea2kegg[rhea2kegg["MASTER_ID"].isin(rhea[rhea["ID"].isin(rxn_ids)]["MASTER_ID"])]["RHEA_ID"].unique()

array([11095, 11099, 11503, 11759, 11991, 12083, 12596, 13100, 13504,
       13928, 14056, 15328, 16232, 16916, 17400, 17820, 19712, 20703,
       20831, 22567, 22671, 23107, 23451, 23571, 25212, 25216, 28065,
       28069, 28441, 28445, 31454, 33754, 41791, 41795, 42299, 42303,
       44015, 54731], dtype=int64)